body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#reviews-container {
    margin: 30px auto;
    max-width: 800px;
    padding: 0 15px;
}

.review-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px; 
    margin-bottom: 15px;
}

.rating {
    color: #f39c12; 
    font-size: 18px;
}

form label {
    color: black;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="date"],
form input[type="number"],
form textarea {
    color: black;
    padding: 10px; 
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form textarea {
    resize: vertical;
}

form button[type="submit"] {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #ffae42;
}

footer {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ddd;
}
#add-review-form{
    width: 25%;
    margin: 0 auto;
    }